body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(6, 6, 6);
    font-family: 'Poppins',sans-serif;
}
.flexOne{
    flex:1;
}
.flexTwo{
    flex:2;
}
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    max-width:40vw;
    display: flex;
    margin:0 auto;
    padding:2rem;
    background-color: rgb(255, 255, 255);
    flex-direction:column ;
}
.myDetailsContainer{
    display: flex;
}
.profilePic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}